/* index */
.header{
    width: 100%;
    height: 94px;
}
.header-function-group{
    width: 100%;
}
.id-content td ,.id-content th{
    padding-left: 0;
    padding-right: 0;
}
.id-content td{
    height: 55px;
    cursor: pointer;
}
.id-content tr td:nth-child(1)::before{
    content: "#";
}
.table1{
    text-align-last: left;
}
.table-icon{
    width: 24px;
    text-align: right;
}
.view:hover, .pen:hover{
    color: $success;
}
.footer .page-link{
    width: 32px;
    height: 32px;
    color:#212529;
    border:1px solid $success ;
    text-align: center;
    padding: 4px 0;
}
.footer .pagination .active{
    color: $white;
    background: $success;
}
/* modal */
.id-photo{
    background-image: url(../images/emir.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 141px;
    height: inherit;
}
.id-info{
    width: 290px;
}
.tag{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
}
.view-card .modal-content{
    padding: 32px;
}
.view-card .modal-body{
    padding: 0;
}
.view-card .modal-footer{
    padding: 32px 0 0 0;
    border: 0;
}
.collapsed .expand{
    transform: rotate(0 deg);
}
.expand{
    transform: rotate(180 deg);
}
.pen-card .modal-header{
    padding:32px;
}
.pen-card .modal-body{
    padding: 0 32px 32px 32px;
}
.pen-card .modal-body::-webkit-scrollbar{
    display: none;
}
.pen-card .modal-footer{
    padding: 16px 32px;
}
.pen-card .box-defaut{
    background: $gray100;
    border: 0;
    border-radius: 2px;
    width: 100%;
    padding: 16px;
}
.pen-card select{
    width: 100%;
    padding: 16px;
    border: 1px solid $black;
    border-radius: 2px;
}
.deactivate .btn-red{
    width: 100%;
}