/* font */
.font-14{
    font-size: 14px;
}
.font-bold{
    font-weight: bold;
}
/* Color */
.font-green{
    color: $success;
}
.font-red{
    color: $danger;
}
.font-gray600{
    color:$gray600;
}
.bg-gray100{
    background: $gray100;
}

/* helper */
.hover:hover{
    background: $gray400;
}
.dash-active,.dash-active span{
    color: $success;
    background: $gray100;
}
.dash-active::before{
    content: "";
    background: $success;
    width: 4px;
    height: 32px;
    position: absolute;
    left: -24px;
}
.underline{
    width: 100%;
    padding-bottom: 24.5px;
    border-bottom: 1px solid $gray400;
    margin-bottom: 24.5px;
}
/* layout */
.mr-1{
    margin-right: 8px;
}
.mr-2{
    margin-right: 16px;
}
.mr-3{
    margin-right: 24px;
}
.mr-6{
    margin-right: 48px;
}
.ml-2{
    margin-left: 16px;
}
.ml-4{
    margin-left: 32px;
}
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-4{
    margin-bottom: 32px;
}
.pl-3{
    padding-left: 24px;
}
.pl-4{
    padding-left: 32px;
}
.icon-16{
    font-size:16px;
}
.icon-20{
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
/* Button */
.btn-no1{
    color: $white;
    padding: 8px 32px;
    background: $success;
    border-radius: 2px;
}
.btn-no2{
    color: $success;
    padding: 8px 32px;
    border:1px solid $success;
    border-radius: 2px;
}
.btn-red{
    color: $danger;
    padding: 8px 32px;
    border: 1px solid $danger;
    border-radius: 2px;
}
.btn-disable{
    background:$white;
    border: 1px solid $gray400;
    color: $gray400;
    border-radius: 2px;
    width: 100%;
    padding: 16px;
}
.txt-btn:hover{
    color: $success;
}